<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OSSTracker</title>

    {% load static %}

    <!-- Custom fonts for this template-->
    <link href="{% static "fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link

        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template-->
    <link href="{% static "sb-admin-2.min.css" %}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/home">
                OSSTracker
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">

                </ul>

                <!-- Right Side Of Navbar -->

                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link " href="/home">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/statistics">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/tracked_repositories">Tracked projects</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link " href="/propose_repository">Propose repository</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/proposed_repositories">My repositories</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="/sign_out">Sign out</a>
                            {% else %}
                                <a class="nav-link" href="/sign_in">Sign in</a>
                            {% endif %}
                        </li>

                    </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="mt-3">
                {% if messages %}
                    {% for message in messages %}
                        <section class="update-info">
                            <div class="updated-msg alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                        </section>
                    {% endfor %}
                {% endif %}
            </div>
    </div>
    <main class="py-4">
        {% block content %}{% endblock %}
    </main>
</body>

</html>