{% extends "admin/layout/base.html" %}

{% block content %}
<center>
    <div class='container'>

        <div class="d-flex">
            <h4 class="ml-auto">Edit {{ project.title }}</h4>
            {% if action == 'delete' %}
                <a
                        class="btn btn-secondary ml-auto"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Delete"
                        href="/admin/repositories/{{ project.id }}/delete">
                    <i class="fa fa-trash" style="color: #ad0707"></i>
                </a>
            {% endif %}
        </div>
        <div class="w-25">
        <form action="/admin/repositories/{{ project.id }}/edit" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type='submit' class="btn btn-primary" value="Save">
            <a href="/admin/repositories/tracked">Cancel</a>


        </form>
        </div>
    </div>

</center>
{% endblock %}



