{% extends "admin/layout/base.html" %}

{% block content %}

<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <th scope="col">
            Title
        </th>
        <th scope="col">
            Git repository URL
        </th>
        <th scope="col">
            Web address
        </th>
        <th scope="col">
            Proposed by
        </th>
        <th scope="col">
            Actions
        </th>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr>
            <td>
                <a href="/admin/repositories/{{ project.id }}/edit">
                    {{ project.title }}
                </a>
            </td>
            <td>
                <a href="{{ project.url_address }}">
                    {{ project.url_address }}
                </a>
            </td>
            <td>
                <a href="{{ project.web_url }}">
                    {{ project.web_url }}
                </a>
            </td>
            <td>{{ project.proposed_by }} {{ project.proposed_by_email }}</td>

            {% if actions == 'approve/decline' %}
            <td>
                <a
                        class="btn btn-secondary"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Approve"
                        href="/admin/repositories/{{ project.id }}/approve">
                    <i class="fa fa-check" style="color: #65db5e"></i>
                </a>
                <a
                        class="btn btn-secondary"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Decline"
                        href="/admin/repositories/{{ project.id }}/decline">
                    <i class="fa fa-times" style="color: #ad0707"></i>
                </a>
            </td>
            {% endif %}

            {% if project.is_approved %}
            <td>
                <a
                        class="btn btn-secondary"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Edit"
                        href="/admin/repositories/{{ project.id }}/edit">
                    <i class="fa fa-pencil" style="color: #fff114"></i>
                </a>
            </td>
            {% endif %}

            {% if actions == 'approve/delete' %}
            <td>
                <a
                        class="btn btn-secondary"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Approve"
                        href="/admin/repositories/{{ project.id }}/approve">
                    <i class="fa fa-check" style="color: #65db5e"></i>
                </a>
                <a
                        class="btn btn-secondary"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Delete"
                        href="/admin/repositories/{{ project.id }}/delete">
                    <i class="fa fa-trash" style="color: #ad0707"></i>
                </a>

            </td>
            {% endif %}
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
