{% extends "osstracker/layout/base.html" %}

{% block content %}

<div class="container">

    <h3 style="color:orange;"> Contributors of {{ project.title }} </h3>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/project_statistic/{{ project.id }}">Statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/contributor_statistic/{{ project.id }}">Contributors</a>
            </li>
        </ul>

        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">
                            <a href="/contributor_statistic/{{ project.id }}?sort={% if sorting != 'contributor__name' %}contributor__name{% else %}-contributor__name{% endif %}">
                                {% if sorting == 'contributor__name' %}
                                    <i class="fa fa-fw fa-sort-up"></i>
                                {% elif sorting == '-contributor__name' %}
                                    <i class="fa fa-fw fa-sort-down"></i>
                                {% endif %}
                            Name
                            </a>
                        </th>
                        <th scope="col">
                            <a href="/contributor_statistic/{{ project.id }}?sort={% if sorting != 'contributor__email_address' %}contributor__email_address{% else %}-contributor__email_address{% endif %}">
                                {% if sorting == 'contributor__email_address' %}
                                    <i class="fa fa-fw fa-sort-up"></i>
                                {% elif sorting == '-contributor__email_address' %}
                                    <i class="fa fa-fw fa-sort-down"></i>
                                {% endif %}
                            Email
                            </a>
                        </th>
                        <th scope="col">
                            <a href="/contributor_statistic/{{ project.id }}?sort={% if sorting != 'contributor__location' %}contributor__location{% else %}-contributor__location{% endif %}">
                                {% if sorting == 'contributor__location' %}
                                    <i class="fa fa-fw fa-sort-up"></i>
                                {% elif sorting == '-contributor__location' %}
                                    <i class="fa fa-fw fa-sort-down"></i>
                                {% endif %}
                            Location
                            </a>
                        </th>
                        <th scope="col">
                            <a href="/contributor_statistic/{{ project.id }}?sort={% if sorting != 'commit_count' %}commit_count{% else %}-commit_count{% endif %}">
                                {% if sorting == 'commit_count' %}
                                    <i class="fa fa-fw fa-sort-up"></i>
                                {% elif sorting == '-commit_count' %}
                                    <i class="fa fa-fw fa-sort-down"></i>
                                {% endif %}
                            Number of commits
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project_contributor in contributors %}
                        <tr>
                            <td style="width: 7%">
                                <img src="{{ project_contributor.contributor.image_url }}" class="rounded-circle img-fluid img-thumbnail">
                            </td>
                            <td>
                                <a href="{{ project_contributor.contributor.web_url }}">
                                    {{ project_contributor.contributor.name }}
                                </a>
                            </td>
                            <td>{{ project_contributor.contributor.email_address }}</td>
                            <td>{{ project_contributor.contributor.location }}</td>
                            <td>{{ project_contributor.commit_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}