{% extends "osstracker/layout/base.html" %}

{% block content %}
<center>
    <div class="container">
    <h1 style="color:orange;">Open Source Software Tracker</h1>

    <h4>Hello Open Source world lovers, welcome to the first place on the internet where you can get the information about statistics
        for open source projects.</h4>


        <h5>Open source community represents a very important part of the IT industry since a lot of great solutions for various problems are
            developed as open source software. Open source software is an  opportunity for fresh developers to learn new things and achieve
            new skills. It gives us the opportunity to collaborate with people from all over the world and learn from one another.</h5>


        <h5>On this web site you can find out about statistics of open source repositories followed by OSSTracker.</h5>


        <h5>
            There is a list of tracked projects, by clicking on the title of a single project you can see its own statistical data,
            aside from local statistics, a list of contributors for a certain repository is also available.
            Information about global statistics derived from all projects is also available.
            If you have or know about repositories you would like to see here, please propose them, we would be glad to consider them. </h5>
    </div>
</center>
{% endblock %}
