{% extends "osstracker/layout/base.html" %}

{% block content %}

    <div class="container">

            <h3 style="color:orange;"> Statistic for {{ project.title }} approved at: {{ project.approved_at }}  </h3>

            <div class="row">
                <div class="container">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="/project_statistic/{{ project.id }}">Statistics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contributor_statistic/{{ project.id }}">Contributors</a>
                        </li>

                </div>

                <!-- Commits Count Card  -->
                    <div class="col-xl-3 col-md-6 mb-4 mt-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Number of commits
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ project_statistic.commits_count }}</div>
                                    </div>
                                    <div class="col-auto">
                                <i class="fas fa-calculator fa-2x text-gray-300"></i>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>

                 <!-- Contributor Count Card  -->
                <div class="col-xl-3 col-md-6 mb-4 mt-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Number Of Contributors
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ project_statistic.contributor_count }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                <i class="fas fa-calculator fa-2x text-gray-300"></i>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Commit Time Card -->
            <div class="col-xl-3 col-md-6 mb-4 mt-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Average Commit Time
                                </div>
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ average_commit_time }}</div>
                                <div class="col"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Time From First Commit card -->
            <div class="col-xl-3 col-md-6 mb-4 mt-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Total Development Time (days)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ time_from_first_commit }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">

            <!-- First Contributor Joined After Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    First Contributor Joined After (days)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ first_contributor_joined_after }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tag Count Card  -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Number Of Versions
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ project_statistic.tag_count }}</div>
                            </div>
                                </div>
                            <div class="col-auto">
                                <i class="fas fa-calculator fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Commits Per Tag Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Number Of
                                    Commits Per Version
                                </div>
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ project_statistic.commits_per_tag }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calculator fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!--  Created From Card -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Repositorie Was Created Here
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ project_statistic.location }}
                                </div>
                            </div>
                            <div class="col-auto"> </div>
                        </div>
                    </div>
                </div>
            </div>



    </div>
</div>

</div>
{% endblock %}
