{% extends "osstracker/layout/base.html" %}

{% block content %}
<center>
    <div class='container' align="center">
        <h5 style="color:red;">You can propose a new repository here:</h5>

        <div class="w-25 mt-4">
            <form action="/propose_repository/" method="POST" class="user">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Submit Proposal">
            </form>
        </div>

    </div>
</center>
{% endblock %}