{% extends "osstracker/layout/base.html" %}

{% block content %}
    <div class="container" align="center">
        <h5>
            Create a user account
        </h5>

        <form action="/sign_up/" method="POST">
            {% csrf_token %}

            <div class="w-25">
                {{ form.as_p }}
            </div>
            <table>
            {% if message %}
            <tr style="width:30%">
                <td>Message:</td>
                <td>{{ message }}</td>
            </tr>
            {% endif %}
            <tr>
                <td><input type="submit" class="btn btn-primary" value="Log in"></td>
            </tr>
        </table>
        </form>
    </div>
{% endblock %}