{% extends "admin/layout/base.html" %}

{% block content %}


<div class="container" align="center">

    <h5>
        Sign in
    </h5>

    <form action="/sign_in/" method='POST'>

        {% csrf_token %}
        <div class="w-25">
            {{ form.as_p }}
        </div>
        <table>
            {% if message %}
            <tr style="width:30%">
                <td>Message:</td>
                <td>{{ message }}</td>
            </tr>
            {% endif %}

            <tr>
                <td>
                    <input type="submit" class="btn btn-primary" value="Sign in">
                </td>
            </tr>

        </table>
        <table>
            <tr>
                Not an user?
                <a class="nav-link" href="/sign_up">Sign up</a>
            </tr>
        </table>
    </form>
</div>

{% endblock %}