{% extends "osstracker/layout/base.html" %}

{% block content %}

<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
</head>

<div class='container' align="left">
    <div class="d-flex">
        <h5 class="ml-auto">Here you can see the list of all tracked repositories:</h5>
        <form action="/tracked_repositories" method="GET" class="ml-auto">
            <input class="ml-auto" placeholder="Search by contributors" type="text" name="contributor_search" value="{{ contributor_search }}">
            <input type="submit" class="btn btn-primary ml-2" value="Search">
        </form>
    </div>
    <table>
        <tr>
            <th><a href="/tracked_repositories/{{ project.id }}?sort={% if sorting != 'title' %}title{% else %}-title{% endif %}">
                {% if sorting == 'title' %}
                    <i class="fa fa-fw fa-sort-up"></i>
                {% elif sorting == '-title' %}
                    <i class="fa fa-fw fa-sort-down"></i>
                {% endif %}Title
            </a>
            </th>
            <th>
                <a href="/tracked_repositories/{{ project.id }}?sort={% if sorting != 'web_url' %}web_url{% else %}-web_url{% endif %}">
                {% if sorting == 'web_url' %}
                    <i class="fa fa-fw fa-sort-up"></i>
                {% elif sorting == '-web_url' %}
                    <i class="fa fa-fw fa-sort-down"></i>
                {% endif %}Website
            </a>
            </th>
            <th>
                <a href="/tracked_repositories/{{ project.id }}?sort={% if sorting != 'author_name' %}author_name{% else %}-author_name{% endif %}">
                {% if sorting == 'author_name' %}
                    <i class="fa fa-fw fa-sort-up"></i>
                {% elif sorting == '-author_name' %}
                    <i class="fa fa-fw fa-sort-down"></i>
                {% endif %}Author
            </a>
            </th>
            <th><a href="/tracked_repositories/{{ project.id }}?sort={% if sorting != 'project_statistic__commits_count' %}project_statistic__commits_count{% else %}-project_statistic__commits_count{% endif %}">
                {% if sorting == 'project_statistic__commits_count' %}
                    <i class="fa fa-fw fa-sort-up"></i>
                {% elif sorting == '-project_statistic__commits_count' %}
                    <i class="fa fa-fw fa-sort-down"></i>
                {% endif %}
                Number of commits
            </a>
            </th>
        </tr>

        {% for project in projects %}
        <tr>
            <td>
                <a href="/project_statistic/{{ project.id }}">
                    {% if user.is_authenticated %}
                        {% if project.proposed_by == user and project.project_statistic.viewed_by_proposer is False %}
                            🔴
                        {% endif %}
                    {% endif %}
                    {{ project.title }}
                </a>
            </td>
            <td>
                <a href="{{ project.web_url }}">
                    {{ project.web_url }}
                </a>
            </td>
            <td>
                {{ project.author_name }} ({{ project.author_email }})
            </td>
            <td>
                {{ project.project_statistic.commits_count }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
